@import '../common/settings.scss';

.hello {
    &__container {
        padding: $headerHeight calc(#{$globalContainerSpacingLarge} - 70px);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        background-color: rgba($white, .8);
        // min-height: calc(100vh - #{$headerHeight + $footerHeight});
        padding: 5% 70px 0;
        box-sizing: border-box;
    }

    &__others {
        font-size: $fontSizeMedium;
        margin: $spacingRegular 0 $spacingRegular;
        position: relative;
        font-family: $fontFamilyHeader;
        font-weight: 300;

        &::before {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 140px;
            height: 4px;
            background-color: rgba($olive, .2);
        }
    }
}

@media screen and (max-width: 2000px) {
    .hello {
        &__container {
            padding: $headerHeightMedium calc(#{$globalContainerSpacingMedium} - 70px);
        }
    }
}

@media screen and (max-width: 1300px) {
    .hello {
        &__container {
            padding: $headerHeightMedium calc(#{$globalContainerSpacingSmall} - 70px);
        }
    }
}