@import '../common/settings.scss';

.hello {
    &__container {
        padding: 0 calc(#{$globalContainerSpacingLarge} - 70px);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        background-color: rgba($white, .8);
        width: 100%;
        min-height: calc(100vh - #{$alwaysVisibleHeight});
        padding: 5% 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 2000px) {
    .hello {
        &__container {
            padding: 0 calc(#{$globalContainerSpacingMedium} - 70px);
        }
    }
}

@media screen and (max-width: 1300px) {
    .hello {
        &__container {
            padding: 0 calc(#{$globalContainerSpacingSmall} - 70px);
        }
    }
}