@import '../common/settings.scss';

.article {
    &__container {
        padding: 0 calc(#{$globalContainerSpacingLarge} - 70px);
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        background-color: rgba($white, .8);
        width: 100%;
        min-height: calc(100vh - #{$headerHeight + $footerHeight});
        padding: 5% 0 10%;
        box-sizing: border-box;
    }
}

.post {
    &__content {
        width: 55%;
        line-height: 2rem;
        margin: 0 auto;
        font-size: $fontSizeFooter;
        font-family: $fontFamilyMain;

        h2 {
            font-weight: 800;
            margin-top: 50px;
            position: relative;

            &::before {
                content: '';
                width: 4px;
                height: 100%;
                background-color: $violet;
                position: absolute;
                left: -20px;
            }
        }
    }
}

@media screen and (max-width: 2000px) {
    .article {
        &__container {
            padding: 0 calc(#{$globalContainerSpacingMedium} - 70px);
        }
    }
}

@media screen and (max-width: 1300px) {
    .article {
        &__container {
            padding: 0 calc(#{$globalContainerSpacingSmall} - 70px);
        }
    }
    
    .post {
        &__content {
            width: 60%;
            margin: 0 auto;
            font-size: $fontSizeFooter;
            font-family: $fontFamilyMain;
        }
    }
}