@import '../common/settings.scss';

.header {
    &__container {
        width: 100%;
        height: $headerHeight;
        background-color: $olive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $globalContainerSpacingLarge;
        font-family: $fontFamilyHeader;
        box-sizing: border-box;
        box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        z-index: 5;
        transition: all 200ms ease-in-out;
    }

    &--small {
        height: calc(#{$headerHeight}  - 40px);
        box-shadow: none;
    }

    &__logo {
        font-size: $fontSizeHeader;
        position: relative;
        color: $violet;

        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            width: 220px;
            height: 4px;
            background-color: $violet;
        }
    }

    &__nav {
        display: flex;
        font-size: $fontSizeNav;
    }

    &__item {
        width: 80px;
        margin-left: $spacingXLarge;
    }
    
    &__link {
        color: $violet;
        cursor: pointer;
    }

}

.navbox {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: rgba($white, .95);
    position: fixed;
    top: $headerHeight;
    z-index: 20;

    &__header {
        position: absolute;
        top: 40px;
        left: -50px;
        transform: rotate(-90deg);
        font-size: 3rem;
        font-family: $fontFamilyHeader;
        font-weight: 400;
        color: $olive;
        width: 180px;
    }

    &__content {
        width: 60%;
        height: 400px;
        background-color: peachpuff;
        margin: 50px auto;
    }
}

@media screen and (max-width: 2000px) {
    .header {
        &__container {
            padding: 0 $globalContainerSpacingMedium;
            height: $headerHeightMedium;
        }

        &--small {
            height: calc(#{$headerHeightMedium} - 40px);
        }

        &__navigation {
            top: $headerHeightMedium;
        }
    }

    .navbox {
        top: $headerHeightMedium;
    }
}

@media screen and (max-width: 1300px) {
    .header {
        &__container {
            padding: 0 $globalContainerSpacingSmall;
        }
    }

    .navbox {
        &__content {
            width: 75%;
        }
    }
}