@import '../common/settings.scss';

.footer {
    &__container {
        width: 100%;
        height: $footerHeight;
        background-color: #3D3D3D;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $globalContainerSpacing;
        font-family: $fontFamilyHeader;
        font-size: $fontSizeFooter;
        color: $paleViolet;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
    }

    &__span {
        color: $white;
    }
}