// ---------- COLORS ---------- //
$violet: #C293FF;
$sunriseOrange: #FFCA7B;
$white: #fff;
$black: #000;
$olive: #3A3A3A;

// ---------- FONT SIZES ---------- //
$fontSizeHeader: 2rem;
$fontSizeNav: 1.4rem;
$fontSizeFooter: 1.2rem;
$fontSizeGameTitle: 1.2rem;
$fontSizeTitle: 2.2rem;
$fontSizeSubtitle: 1.4rem;
$fontSizeMedium: 1.7rem;
$fontSizeRegular: 1rem;
$fontSizeSmall: .8rem;

// ---------- FONT FAMILIES ---------- //
$fontFamilyHeader: 'Staatliches', Arial, Helvetica, sans-serif;
$fontFamilyMain: 'Source Sans Pro', Arial, Helvetica, sans-serif;

// ---------- SPACING ---------- //
$globalContainerSpacingLarge: 25vw;
$globalContainerSpacingMedium: 19vw;
$globalContainerSpacingSmall: 15vw;
$spacingHorizontalSmall: 0 10px;
$spacingXLarge: 150px;
$spacingLarge: 100px;
$spacingMedium: 70px;
$spacingRegular: 50px;
$spacingSmall: 20px;
$spacingXSmall: 10px;

// ---------- SIZES ---------- //
$headerHeight: 140px;
$headerHeightMedium: 100px;
$footerHeight: 70px;