// ---------- COLORS ---------- //
$paleViolet: #C293FF;
$white: #fff;
$black: #000;

// ---------- FONT SIZES ---------- //
$fontSizeHeader: 2rem;
$fontSizeNav: 1.4rem;
$fontSizeFooter: 1.2rem;
$fontSizeGameTitle: 1.2rem;
$fontSizeTitle: 2.2rem;
$fontSizeSubtitle: 1.4rem;
$fontSizeMain: 1.1rem;

// ---------- FONT FAMILIES ---------- //
$fontFamilyHeader: 'Staatliches', Arial, Helvetica, sans-serif;

// ---------- SPACING ---------- //
$globalContainerSpacingLarge: 25vw;
$globalContainerSpacingMedium: 15vw;
$globalContainerSpacingSmall: 10vw;
$spacingHorizontalSmall: 0 10px;
$spacingSmall: 10px;
$spacingMedium: 50px;
$spacingLarge: 100px;
$spacingXLarge: 150px;

// ---------- SIZES ---------- //
$headerHeight: 140px;
$footerHeight: 70px;
$alwaysVisibleHeight: $headerHeight + $footerHeight;