// ---------- COLORS ---------- //
$paleViolet: #C293FF;

// ---------- FONT SIZES ---------- //
$fontSizeHeader: 35px;
$fontSizeNav: 22px;

// ---------- SPACING ---------- //
$spacingHorizontalSmall: 0 10px;
$spacingSmall: 10px;
$spacingMedium: 50px;
$spacingLarge: 100px;
$spacingXLarge: 150px;
$globalContainerSpacing: 0 24vw;