@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import './components/common/settings.scss';

.app {
    &__container {
        width: 100%;
        margin: 0;
        padding: 0;
        background-image: url('/gaming-pattern.png');
        background-repeat: repeat;
        min-height: 100vh;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}